{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/specific_tutor.css') }}">

<div class="intro-wrapper">

    <img class="img-fluid tutor-img" src="{{ tutor.image }}" alt="">

    <div style="width: 50%;">
        <h1>{{ tutor.name }}</h1>
        <h3>
            Grade {{ tutor.grade }} {{ tutor.subject }}
            {% if tutor.subject == 'Math' %}
                <i class="bi bi-calculator"></i>
            {% elif tutor.subject == 'English' %}
                <i class="bi bi-book"></i>
            {% elif tutor.subject == 'Physics' %}
                <i class="fas fa-atom"></i>
            {% elif tutor.subject == 'French' %}
                <i class="bi bi-translate"></i>
            {% elif tutor.subject == 'Science' %}
                <i class="fas fa-flask"></i>
            {% elif tutor.subject == 'Spanish' %}
                <i class="bi bi-translate"></i>
            {% elif tutor.subject == 'Computer Science' %}
                <i class="bi bi-laptop"></i>
            {% endif %}
        </h3>

        <h4>
            {% for i in range(0, tutor.average_stars) %}
                <i class="bi bi-star-fill"></i>
            {% endfor %}
            {% for i in range(0, 5-tutor.average_stars) %}
                <i class="bi bi-star"></i>
            {% endfor %}
        </h4>
        <h4>Rate: <br> ${{ tutor.pay }}/hr</h4>

    </div>
</div>

<br>

<h3>Contact Information:</h3>
<p class="boxed">
    {{ tutor.email }}
    <br>
    {{ tutor.phone_number[0] }}{{ tutor.phone_number[1] }}{{ tutor.phone_number[2] }}-{{ tutor.phone_number[3] }}{{ tutor.phone_number[4] }}{{ tutor.phone_number[5] }}-{{ tutor.phone_number[6] }}{{ tutor.phone_number[7] }}{{ tutor.phone_number[8] }}{{ tutor.phone_number[9] }}
    <br>
</p>

<br>

<h3 class="biography-header">Biography:</h3>
<p class="biography-text">
    {{ tutor.description }}
</p>


<br>

<h3>Write a Review:</h3>
<div class="container mb-4">
    <form action="#" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Title" maxlength="250" required>
        </div>
        <div class="stars">
            <input class="star" onclick="fill_stars(1)" id="star-1" name="star-1" type="checkbox">
            <input class="star" onclick="fill_stars(2)" id="star-2" name="star-2" type="checkbox">
            <input class="star" onclick="fill_stars(3)" id="star-3" name="star-3" type="checkbox">
            <input class="star" onclick="fill_stars(4)" id="star-4" name="star-4" type="checkbox">
            <input class="star" onclick="fill_stars(5)" id="star-5" name="star-5" type="checkbox">
        </div>
        <div class="form-group">
            <label>Review</label>
            <input type="text" name="review" id="review" class="form-control" placeholder="Review" maxlength="10000" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<br>

<h3>Reviews:</h3>

{% if not reviews %}
    <div class="alert alert-secondary mb-5"
        data-aos="fade-down"
        data-aos-duration="800"
    >
    There are no reviews yet, be the first to write one!
    </div>

{% endif %}

<div>
    {% for review in reviews %}
        <div class="alert alert-secondary mb-5"
            data-aos="fade-down"
            data-aos-duration="800"
        >

            <h6>{{ review.username }} says:</h6>

            <hr class="my-3">

            <h5 class="mb-0">{{ review.title }}</h5>

            {% for i in range(0, review.rating) %}
                <i class="bi bi-star-fill"></i>
            {% endfor %}
            {% for i in range(0, 5-review.rating) %}
                <i class="bi bi-star"></i>
            {% endfor %}
            
            <p>{{ review.content }}</p>
        </div>
    {% endfor %}
</div>
<br>
<br>

<script src="{{ url_for('static', filename='js/specific_tutor.js') }}"></script>

{% endblock content %}